<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>分类</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="css/me.css">
  <script src="js/vue.js"></script>
  <script src="js/axios-0.18.0.js"></script>
  <script src="js/common.js"></script>
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/semantic.min.js"></script>
</head>
<body>

  <div id="app">
    <!--导航-->
    <nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
      <div class="ui container">
        <div class="ui inverted secondary stackable menu">
          <h2 class="ui teal header item">Blog</h2>
          <a href="./index.html" class=" m-item item m-mobile-hide"><i class="mini home icon"></i>首页</a>
          <a href="./types.html" class="m-item item m-mobile-hide active"><i class="mini idea icon"></i>分类</a>
          <a href="./tags.html" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
          <a href="./archives.html" class="m-item item m-mobile-hide"><i class="mini clone icon"></i>归档</a>
          <a href="./about.html" class="m-item item m-mobile-hide"><i class="mini info icon"></i>关于我</a>
          <div class="right m-item item m-mobile-hide">
            <div class="ui icon inverted transparent input m-margin-tb-tiny">
              <input type="text" placeholder="Search...." v-model="searchParam">
              <i class="search link icon" @click="handleGlobalSearch()"></i>
            </div>
          </div>
        </div>
      </div>
      <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
      </a>
    </nav>

    <!--中间内容-->
    <div class="m-container-small m-padded-tb-big">
      <div class="ui container">
        <!--header-->
        <div class="ui top attached segment">
          <div class="ui middle aligned two column grid">
            <div class="column">
              <h3 class="ui teal header">分类</h3>
            </div>
            <div class="right aligned column">
              共 <h2 class="ui orange header m-inline-block m-text-thin">{{typeList.length}}</h2> 个
            </div>
          </div>
        </div>

        <div class="ui attached segment m-padded-tb-large">
          <div class="ui labeled button m-margin-tb-tiny" v-for="t in typeList" id="types">
            <a :class="{'ui basic button':true,'teal': activeType === t.id}" :typeId="t.id"
               @click="changeActiveType(1,blogInfo.pageSize,blogInfo.navigatePages,t.id)">{{t.typeName}}</a>
            <div :class="{'ui basic left pointing label':true,'teal': activeType === t.id}">{{t.blogCount}}</div>
          </div>
        </div>

        <div class="ui top attached teal segment" v-if="blogInfo != null">
          <div class="ui padded vertical segment m-padded-tb-large" v-for="b in blogInfo.list">
            <div class="ui middle aligned mobile reversed stackable grid">
              <div class="eleven wide column">
                <h3 class="ui header">
                  <a :href="'./blog.html?uri=/blog/selectById/'+b.id" target="_blank" class="m-black">{{b.title}}</a>
                </h3>
                <p class="m-text">{{b.description + '......'}}</p>
                <div class="ui grid">
                  <div class="eleven wide column">
                    <div class="ui mini horizontal link list">
                      <div class="item">
                        <img :src="b.user.avatar" alt="" class="ui avatar image">
                        <div class="content">
                          <a href="#" class="header">{{b.user.nickname}}</a>
                        </div>
                      </div>
                      <div class="item">
                        <i class="calendar icon"></i><span>{{b.updateTime?b.updateTime:b.createTime}}</span>
                      </div>
                      <div class="item">
                        <i class="eye icon"></i><span>{{b.views}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="right aligned five wide column">
                    <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">{{b.type.typeName}}</a>
                  </div>
                </div>
              </div>

              <div class="five wide column">
                <a :href="'./blog.html?uri=/blog/selectById/'+b.id" target="_blank">
                  <img :src="b.firstPicture" alt="" class="ui rounded image">
                </a>
              </div>

            </div>
          </div>
        </div>

        <!-- footer -->
        <div class="ui bottom attached segment">
          <div class="ui middle aligned two column grid">
            <div class="column">
              <a
                :class="{'ui':true,'mini':true,'teal':true,'basic':true,'button':true,'disabled':!blogInfo.hasPreviousPage}"
                @click="blogInfo.hasPreviousPage ? selectByTypeId(buildPageParam(blogInfo.prePage,blogInfo.pageSize,blogInfo.navigatePages),'/blog/selectByTypeId/'+activeType):''">上一页</a>
            </div>
            <div class="right aligned column">
              <a
                :class="{'ui':true,'mini':true,'teal':true,'basic':true,'button':true,'disabled':!blogInfo.hasNextPage}"
                @click="blogInfo.hasNextPage ? selectByTypeId(buildPageParam(blogInfo.nextPage,blogInfo.pageSize,blogInfo.navigatePages),'/blog/selectByTypeId/'+activeType):''">下一页</a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <br>
    <br>
    <!--底部footer-->
    <footer class="ui inverted vertical segment m-padded-tb-massive">
      <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
          <div class="three wide column">
            <div class="ui inverted link list">
              <div class="item">
                <img src="./images/pure_wechat.jpg" class="ui rounded image" alt=""
                     style="width: 110px">
              </div>
            </div>
          </div>
          <div class="three wide column">
            <h4 class="ui inverted header m-text-thin m-text-spaced ">最新博客</h4>
            <div class="ui inverted link list">
              <a :href="'./blog.html?uri=/blog/selectById/'+b.id" class="item m-text-thin"
                 v-for="b in footer.topBlogInfo" target="_blank">{{b.title}}</a>
            </div>
          </div>
          <div class="three wide column">
            <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
            <div class="ui inverted link list">
              <a href="#" class="item m-text-thin">Email：1061410032@qq.com</a>
              <a href="#" class="item m-text-thin">QQ：1061410032</a>
            </div>
          </div>
          <div class="seven wide column">
            <h4 class="ui inverted header m-text-thin m-text-spaced ">Blog</h4>
            <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
          </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2019 - 2020 Blog Designed by NaviChiong</p>
      </div>
    </footer>
  </div>
  <script>
      let app = new Vue({
          el: "#app",
          data: {
              searchParam: "",
              typeList: "",
              activeType: "",
              blogInfo: "",
              footer: {
                  topBlogInfo: ""
              }
          },
          methods: {
              handleGlobalSearch() {
                  let sp = app.searchParam.trim();
                  if (sp) {
                      location.href = "./search.html?title=" + sp + "&content=" + sp;
                  }
                  console.log(url);
              },
              listTop() {
                  axios.get(apiPrefix + "/type/topType", {params: {"size": -1}})
                      .then(resp => {
                          if (resp.data.code === 200) {
                              app.typeList = resp.data.data;
                          }
                      })
              },
              buildPageParam(pageNum, pageSize, navigatePages) {
                  if (!pageNum) {
                      pageNum = 1;
                  }
                  if (!pageSize) {
                      pageSize = 5;
                  }
                  if (!navigatePages) {
                      navigatePages = 5;
                  }
                  return {
                      'pageNum': pageNum,
                      'pageSize': pageSize,
                      'navigatePages': navigatePages
                  }
              },
              selectByTypeId(pageParam, uri) {
                  axios.get(apiPrefix + uri, {params: pageParam})
                      .then(resp => {
                          if (resp.data.code === 200) {
                              console.log("selectByTypeId", resp.data.data);
                              app.blogInfo = resp.data.data.blogInfo;
                              app.activeType = resp.data.data.activeType;
                          } else {
                              app.blogInfo = "";
                              app.activeType = resp.data.data;
                          }
                      })
              },
              changeActiveType(pageNum, pageSize, navigatePages, typeId) {
                  this.activeType = typeId;
                  console.log("change type id :" + typeId);
                  this.selectByTypeId(this.buildPageParam(pageNum, pageSize, navigatePages), "/blog/selectByTypeId/" + typeId);
              },
              getFooterTopBlog() {
                  axios.get(apiPrefix + "/blog/topBlog", {params: {size: 3}})
                      .then(resp => {
                          console.log("/blog/topBlog -> ", resp);
                          if (resp.data.code === 200) {
                              app.footer.topBlogInfo = resp.data.data;
                          }
                      })
              }
          },
          created() {
              this.getFooterTopBlog();
              this.listTop();
              let requestParam = getRequestParam(location.search);
              if (requestParam.uri) {
                  this.selectByTypeId(this.buildPageParam(1, 5, 5), requestParam.uri)
              }
          }
      });

      $(function () {
          $('.menu.toggle').click(function () {
              $('.m-item').toggleClass('m-mobile-hide');
          });

          if (!getRequestParam(location.search).uri) {
              let firstType = $("#types a:first");
              if (firstType != null) {
                  let typeId = firstType.attr("typeId");
                  app.selectByTypeId(app.buildPageParam(1, 5, 5), "/blog/selectByTypeId/" + typeId)
              }
          }
      });
  </script>
</body>
</html>
